<launch>
	<node name="key_strokes" pkg="scripts" type="key_strokes.py"/>
  
	<node name="cmd_vel_publisher" pkg="scripts" type="cmd_vel_publisher.py" output="screen" launch-prefix="xterm -e"/>


	<node name="serial_comm" pkg="rosserial_python" type="serial_node.py">
		<param name="port" value="/dev/ttyUSB0"/>
	</node>

	<!--node name="serial_comm" pkg="rosserial_python" type="serial_node.py">
		<param name="port" value="/dev/ttyUSB0"/>
	</node-->


	<!--node name="repeater" pkg="scripts" type="repeater.py"/-->

	
	<node name="debug" pkg="rqt_plot" type="rqt_plot"/>

</launch>

