<?xml version="1.0" ?>
<model>
    <name>Hall Building EDML ABC</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>DSA</name>
        <email></email>
    </author>
    <description>Map of the Basement of the Hall Building for Capstone - Astro ROS Project</description>
</model>
