<launch>

  
	<node name="cmd_vel_publisher" pkg="scripts" type="cmd_vel_publisher.py" output="screen" launch-prefix="xterm -e"/>


	<node name="serial_comm" pkg="rosserial_python" type="serial_node.py">
		<param name="port" value="/dev/ttyUSB0"/>
	</node>

	<node name="pub_odom" pkg="odom" type="pub_odom.py"/>



</launch>

