<launch>

	<!-- GAZEBO NODE -->
	<include file="/home/colin/workspace/src/pack1/worlds/empty_world.launch">
		<arg name="paused" value="true"/>	
		<arg name="world_name" value="room.world"/>
	</include>



	<!-- KEYBOARD INPUT NODE -->
	<node name="key_strokes" pkg="pack1" type="key_strokes.py"/>



	<!-- TF BROADCASTER NODE...CHOOSE 1-->

	<!--node name="tf_broadcaster" pkg="pack1" type="tf_broadcaster.py"/-->
	<!--node name="tf_broadcaster" pkg="pack1" type="tf_broadcaster"/-->
	<node name="static_tf_broadcaster" pkg="tf" type="static_transform_publisher" args="0 .5 .5 0 0 0 Astro/base_link Astro/hokuyo_link 100"/> 	

	
	<!-- SLAM NODE -->

	<!--node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" args="_odom_frame:=Astro/odom _base_frame:=Astro/base_link"/-->



	<!--node name="rviz" pkg="rviz" type="rviz"/-->
</launch>
