<launch>

	<!-- GAZEBO PUBLISHES SENSOR & ODOM INFO -->

	<include file="/home/colin/workspace/src/pack1/worlds/empty_world.launch">
		<arg name="paused" value="true"/>	
		<arg name="world_name" value="test_world2.world"/>
	</include>


	<!-- MAP_SERVER -->

	<node name="map_server" pkg="map_server" type="map_server" args="/home/colin/workspace/src/pack1/maps/map.yaml"/>


	<!-- AMCL node -->

	<include file="$(find amcl)/examples/amcl_diff.launch"/>


	<!-- TF BROADCASTER -->

	<node name="static_tf_broadcaster" pkg="tf" type="static_transform_publisher" args=".381 0 .531 0 0 0 Astro/base_link Astro/hokuyo_link 100"/> 
	



	<!-- MOVE BASE -->

	<!--node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">

		<rosparam file="/home/colin/workspace/src/astro_nav/costmap_common_params.yaml" command="load" ns="global_costmap" />

		<rosparam file="/home/colin/workspace/src/astro_nav/costmap_common_params.yaml" command="load" ns="local_costmap" />

		<rosparam file="/home/colin/workspace/src/astro_nav/local_costmap_params.yaml" command="load" />

		<rosparam file="/home/colin/workspace/src/astro_nav/global_costmap_params.yaml" command="load" />

		<rosparam file="/home/colin/workspace/src/astro_nav/base_local_planner_params.yaml" command="load" />	

	</node-->


	<!-- RVIZ -->

	<node name="rviz" pkg="rviz" type="rviz" output="screen"/>
	
	<!-- TELEOP -->
	<node name="teleop" pkg="pack1" type="key_strokes.py"/>


</launch>


