<launch>

	<!-- GAZEBO PUBLISHES SENSOR & ODOM INFO -->

	<include file="$(find pack1)/worlds/empty_world.launch">
		<arg name="paused" value="true"/>	
		<arg name="world_name" value="EDML.world"/>
	</include>


	<!-- MAP_SERVER -->

	<node name="map_server" pkg="map_server" type="map_server" args="$(find pack1)/maps/EDML.yaml"/>


	<!-- AMCL node -->

	<include file="$(find amcl)/examples/amcl_diff.launch"/>


	<!-- TF BROADCASTER -->

	<node name="static_tf_broadcaster" pkg="tf" type="static_transform_publisher" args=".381 0 .531 0 0 0 Astro/base_link Astro/hokuyo_link 100"/> 
	



	<!-- MOVE BASE -->

	<node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">

		<rosparam file="$(find astro_nav)/costmap_common_params.yaml" command="load" ns="global_costmap" />

		<rosparam file="$(find astro_nav)/costmap_common_params.yaml" command="load" ns="local_costmap" />

		<rosparam file="$(find astro_nav)/local_costmap_params.yaml" command="load" />

		<rosparam file="$(find astro_nav)/global_costmap_params.yaml" command="load" />

		<rosparam file="$(find astro_nav)/base_local_planner_params.yaml" command="load" />	

	</node>


	<!-- REPEATER -->
	
	<node name="repeater" pkg="scripts" type="repeater.py"/>


	<!-- RVIZ -->

	<node name="rviz" pkg="rviz" type="rviz" output="screen"/>

	<!--node name="serial_comm" pkg="rosserial_python" type="serial_node.py">
		<param name="port" value="/dev/ttyUSB0"/>
	</node-->

</launch>


